<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div>
        <form method="post" action="/addProduct" enctype="multipart/form-data">
            产品名字<input type="text" name="pName"/><br>
            产品价格<input type="text" name="pPrice"/><br>
            产品图片<input type="file" name="file"/><br>
            产品描述<input type="text" name="pDescription"/><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>