<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Latest Login Form Responsive Widget Template :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Latest Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="../static/css/styleLogin.css" type="text/css" media="all" />
	<link href="../static/css/font-awesome.min.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">

</head>

<body>
	<div class="main-bg">
		<!-- title -->
		<h1>二手交易平台</h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="static/images/user.jpg" alt="" />
				</div>
				<form action="login_check" method="post">
					<p class="legend">在此登录<span class="fa fa-hand-o-down"></span></p>
					<div class="input">
					 	<input type="text" placeholder="Name" name="userName" required maxlength="16"/>
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Password" name="password" required maxlength="16" minlength="8"/>
						<span class="fa fa-unlock"></span>
					</div>
					<button type="submit" class="btn submit">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
				<a href="signup" class="bottom-text-w3ls">没有账号？点击注册</a>
			</div>
		</div>

		<div class="copyright">
			<h2>&copy; 2019 二手交易平台
			</h2>
		</div>
		<!-- //copyright -->
	</div>
</body>

</html>