<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>后台用户中心</title>
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
		
		<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	</head>

<body>
		<div class="header">
			<div class="bar">
				<div class="w1200">
					<span class="l">二手网<font>用户中心</font></span>
					<span class="r">
						<button type="button" class="btn btn-primary stn-lg" data-toggle="modal" data-target="#myModal">
						 修改资料
						</button>
						<a href="Tuichu"><i class="icon iconfont icon-dianyuan"></i>退出</a>
					</span>					
				</div>
			</div>
			<div class="user-info">
				<div class="w1200">
					<div class="user-headface">
						<img src="../static/images/user_face.jpg"/>
					</div>
					<div class="user-account">
						<p class="tip">用户,你好！</p>
 						<p class="account">
							姓名：<span th:text="${admin.name}"></span>
							性别：<span th:if="${admin.sex}==true">男</span>
								 <span th:unless="${admin.sex}==true">女</span>
						</p> 
					</div>
				</div>
			</div>
		</div>
 		<div class="main w1200"> 
			<div class="left">
				<ul>
					<li>
						<a href="myProduct?state=0">
							<i class="icon iconfont icon-lingdang"></i>
							我购买的商品
						</a>
					</li>
					<li>
						<a href="myProduct?state=1">
							<i class="icon iconfont icon-lingdang"></i>
							我出售的商品
						</a>
					</li>
					<li>
						<a href="test">
							<i class="icon iconfont icon-lingdang"></i>
							上传我的商品
						</a>
					</li>
					
					<li id="infor">
						<a href="#" >
							<i class="icon iconfont icon-lingdang"></i>
							我的个人资料
						</a>
					</li>
				</ul>               
			</div>
			<div class="right">
				<div class="tap">
					<span>详情</span>
				</div>
				<div class="container">
					<div class="no-doc">
					
						<div class="row">
							<div class="col-md-12">
								<table class="table table-hover" id="user_table">
									<thead>
										<tr>		
											<th>序号</th>																			
											<th>商品名</th>
											<th>价格</th>
											<th>简单描述</th>
											<th>时间</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>
									
									<tbody>
										 <tr th:each="product,iterStat : ${productsList}">  
										 	<th th:text="${iterStat.index}"></th>  										  
							                <th th:text="${product.pName}"></th>  
							                <th th:text="${product.pPrice}"></th> 
											<th th:text="${product.pDescription}"></th>  
							                <th th:text = "${#dates.format(product.createtime, 'dd-MM-yyyy')}"></th>
							                <th th:switch = "${product.pState}">
												    <span th:case = "0">待审核</span>
												    <span th:case = "1">已审核</span>
												    <span th:case = "2">审核未通过</span>
												    <span th:case = "3">已购买</span>							                	
							                </th>
							                <th >
							                	<button class="btn btn-info btn-sm infor" th:value="${product.pid}">查看详情</button>							                								                	
							                </th>        
							             </tr>
									</tbody>
								</table>
							</div>	
						</div>


					
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">个人资料</h4>
						      </div>
						      <div class="modal-body">
									<form class="form-horizontal" action="updatePerson" method="post" id="saveAdmin">
										  <div class="form-group">
										    <label for="inputEmail3" class="col-sm-2 control-label">电话</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" name="tel" placeholder="电话"  th:value="${admin.tel}">
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="inputPassword3" class="col-sm-2 control-label">地址</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" name="address" placeholder="地址" th:value="${admin.address}">
										    </div>
										  </div>
										  
										  <div class="form-group">
										    <label for="inputPassword3" class="col-sm-2 control-label">性别</label>										    										   
											<span th:if="${admin.sex}==true">
												<label class="radio-inline">
												  <input type="radio" name="sex" value="true"  checked="checked" > 男
												</label>
												<label class="radio-inline">
												  <input type="radio" name="sex" value="false"> 女
												</label>											
											</span>
											 <span th:unless="${admin.sex}==true">
												<label class="radio-inline">
													  <input type="radio" name="sex" value="true"> 男
												</label>
												<label class="radio-inline">
													  <input type="radio" name="sex" value="false" checked="checked"> 女
												</label>	
											 </span>
											
											  
										  </div>
										  
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <div class="checkbox">
										      </div>
										    </div>
										  </div>														 	
									</form>
						      </div>
						      <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				       			<button type="button" class="btn btn-primary" id="per_save_btn">保存</button>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="modal fade" id="myInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">个人资料</h4>
						      </div>
						      <div class="modal-body">
									<form class="form-horizontal" action="updatePerson" method="post" id="saveAdmin">
										  <div class="form-group">
										    <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
										    <div class="col-sm-4">
										      <input type="text" class="form-control" th:value="${admin.name}" readonly>
										    </div>
										    
										    <label for="inputEmail3" class="col-sm-2 control-label">性别</label>
										    <div class="col-sm-4">
										     	<span th:if="${admin.sex}==true">
													<input type="text" name="sex" value="男" readonly class="form-control"> 										
												</span>
											 	<span th:unless="${admin.sex}==true">
													  <input type="text" name="sex" value="女" readonly class="form-control"> 
												</span>	
											</div>
										  </div>										  
										  
										  <div class="form-group">
										    <label for="inputPassword3" class="col-sm-2 control-label">地址</label>
										    <div class="col-sm-6">
										      <input type="text" class="form-control" name="address" th:value="${admin.address}" readonly>
										    </div>
										  </div>
										  
										  <div class="form-group">
										    <label for="inputPassword3" class="col-sm-2 control-label">tel</label>
										    <div class="col-sm-6">
										      <input type="text" class="form-control" name="address" th:value="${admin.tel}" readonly>
										    </div>
										  </div>

										  
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <div class="checkbox">
										      </div>
										    </div>
										  </div>														 	
									</form>
						      </div>
						      <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>				       		
						      </div>
						    </div>
						  </div>
						</div>
						
						<script type="text/javascript">
					    	$(".infor").click(function(){
					    		window.location="getProduct_one?pid="+this.value;
					    	})
					    	
						    $("#per_save_btn").click(function(){
						    		$.ajax({
						    			url:"updatePerson",
						    			type:"POST",
						    			data:$("#saveAdmin").serialize(),
						    			success:function(result){
						    				alert(result);
						    				$('#myModal').modal('hide');
						    				location.reload();
						    			}					    			
						    		})					    							    		
						    	})	
						    $("#infor").click(function(){
						   		 $("#myInformation").modal('toggle');
						    })
						</script>										
					</div>
				</div>
			</div>
		</div>

					
	</body>

</html>