<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>HaFood</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">

    <!--====== Pe Icon 7 Stroke css ======-->
    <link rel="stylesheet" href="../static/assets/css/Pe-icon-7-stroke.css">

    <!--====== Ion Icons css ======-->
    <link rel="stylesheet" href="../static/assets/css/ionicons.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../static/assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../static/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../static/assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER  PART START ======-->

    <div id="preloader">
        <div id="loader">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!--====== PRELOADER  PART ENDS ======-->

    <!--====== SEARCH PART START ======-->
    <div class="search-box">
        <div class="search-header">
            <div class="container mt-60">
                <div class="row">
                    <div class="col-6">
                        <h5 class="search-title">查找</h5>
                    </div>
                    <div class="col-6">
                        <div class="search-close text-right">
                            <button class="search-close-btn">关闭 <span></span><span></span></button>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 
        <div class="search-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-form">
                            <form action="#">
                                <input type="text" placeholder="查找商品">
                                <button><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
    <!--====== SEARCH PART ENDS ======-->

    <!--====== HEADER  PART START ======-->

    <header class="header-area">
        <div class="navigation navigation-2 navigation-page fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="navbar-icon d-none d-sm-block">
                                <ul>
                                    <li><a class="search-open" href="#"><i class="pe-7s-search"></i></a></li>
									<li><span class="r"><a href="#">个人信息</a></span></li>
									<li><span class="r"><a href="#">注销</a></span></li>
                                </ul>
                            </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <!--====== HEADER  PART ENDS ======-->



    <!--====== PAGE TITLE  PART START ======-->

    <section class="page-title-area d-flex align-items-center bg_cover" style="background-image: url(assets/images/page-title-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">产品列表</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">产品列表</li>
                            </ol>
                        </nav>
                    </div> <!-- page title item -->
                </div>
            </div> <!-- row -->
        </div> <!-- row -->
        <div class="page-title-shape">
            <img src="../static/assets/images/banner-shape.png" alt="shape">
        </div> <!-- page title shape -->
    </section>

    <!--====== PAGE TITLE  PART ENDS ======-->

    <!--====== PRODUCT  PART START ======-->

    <section class="product-area product-area-2">
        <div class="container">
            <div class="row align-items-center pt-65 pb-20">
                <div class="col-lg-3 col-md-4">
                    <div class="product-grid-tab d-flex">
                        <span>产品展示 </span>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-9">
                            <div class="product-list-thumb mt-30">
                                <img src="../static/assets/images/product-1.jpg" alt="product">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9">
                            <div class="product-list-content mt-30">
                                <h5 class="title">Grape</h5>
                                <span>$15.00</span>
                                <p>商品介绍 </p>
                                <a href="#">购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-9">
                            <div class="product-list-thumb mt-30">
                                <img src="../static/assets/images/product-4.jpg" alt="product">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9">
                            <div class="product-list-content mt-30">
                                <h5 class="title">Red Pepper</h5>
                                <span>$45.00</span>
                                <p>商品介绍 </p>
                                <a href="#">购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-9">
                            <div class="product-list-thumb mt-30">
                                <img src="../static/assets/images/product-3.jpg" alt="product">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9">
                            <div class="product-list-content mt-30">
                                <h5 class="title">Cauliflower</h5>
                                <span>$45.00</span>
                                <p>商品介绍 </p>
                                <a href="#">购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-9">
                            <div class="product-list-thumb mt-30">
                                <img src="../static/assets/images/product-5.jpg" alt="product">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9">
                            <div class="product-list-content mt-30">
                                <h5 class="title">Apple</h5>
                                <span>$45.00</span>
                                <p>商品介绍 </p>
                                <a href="#">购买</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </section>

    <!--====== PRODUCT  PART ENDS ======-->

    <!--====== BLOG GRID PART START ======-->
                                           <!--自动翻页怎么搞-->
    <div class="blog-list-area pt-30 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="blog-list-item">
                        <div class="pagination-area d-flex justify-content-between mt-60 pt-40">
                            <div class="pagination-item-1">
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                </ul>
                            </div>
                            <div class="pagination-item-2">
                                <ul>
                                    <li><a href="#"><i class="ion ion-ios-arrow-back"></i></a></li>
                                    <li><a href="#"><i class="ion ion-ios-arrow-forward"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== BLOG GRID PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="">
            <i class="ion ion-md-arrow-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->



    <!--====== jquery js ======-->
    <script src="../static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../static/assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="../static/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="../static/assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="../static/assets/js/jquery.nice-select.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="../static/assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="../static/assets/js/main.js"></script>

</body>

</html>
