<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>HaFood</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!--====== Pe Icon 7 Stroke css ======-->
    <link rel="stylesheet" href="../assets/css/Pe-icon-7-stroke.css">

    <!--====== Ion Icons css ======-->
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="../assets/css/nice-select.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER  PART START ======-->

    <div id="preloader">
        <div id="loader">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!--====== PRELOADER  PART ENDS ======-->

    <!--====== SEARCH PART START ======-->

    <div class="search-box">
        <div class="search-header">
            <div class="container mt-60">
                <div class="row">
                    <div class="col-6">
                        <h5 class="search-title">查找</h5> <!-- search title -->
                    </div>
                    <div class="col-6">
                        <div class="search-close text-right">
                            <button class="search-close-btn">关闭 <span></span><span></span></button>
                        </div> <!-- search close -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search header -->
        <div class="search-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-form">   <!--搜索功能-->
                            <form action="#">
                                <input type="text" placeholder="查找商品">
                                <button><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search body -->
    </div>

    <!--====== SEARCH PART ENDS ======-->


    <!--====== HEADER  PART START ======-->

    <header class="header-area">
        <div class="navigation navigation-2 navigation-page fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">                
                                <ul>
                                    <li><a class="search-open" href="#"><i class="pe-7s-search"></i></a></li>
									<li><span class="r"><a href="#">个人信息</a></span></li>
									<li><span class="r"><a href="#">注销</a></span></li>
                                </ul>
                            </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <!--====== HEADER  PART ENDS ======-->

    <!--====== PAGE TITLE  PART START ======-->

    <section class="page-title-area d-flex align-items-center bg_cover" style="background-image: url(assets/images/page-title-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">商品详情</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">商品详情</li>
                            </ol>
                        </nav>
                    </div> <!-- page title item -->
                </div>
            </div> <!-- row -->
        </div> <!-- row -->
        <div class="page-title-shape">
            <img src="../assets/images/banner-shape.png" alt="shape">
        </div> <!-- page title shape -->
    </section>

    <!--====== PAGE TITLE  PART ENDS ======-->

    <!--====== PRODUCT DETAILS PART START ======-->

    <section class="product-details-area pt-30 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="product-details-thumb mt-35">
                        <img th:src="${product.pPhoto}" alt="product details"> <!-- 商品图片-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="product-details-content mt-30">
                        <div class="product-details-title">
                            <h4 class="title" th:text="${product.pName}"></h4>
                        </div>
                        <div class="product-details-con">
                            <span th:text="￥+${product.pPrice}"></span>
                            <p th:text="${product.pDescription}"></p>
                        </div>
                        <div class="product-details-color d-flex">
                            <span th:text="${product.perId.name}"></span>
                            <ul>
								<p>卖家详情链接</p>
                            </ul>
                        </div>
                        <div class="product-details-cart d-flex align-items-center">
                            <div class="add-cart">
                                <a href="#">购买</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PRODUCT DETAILS PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="">
            <i class="ion ion-md-arrow-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->








    <!--====== jquery js ======-->
    <script src="../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="../assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="../assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="../assets/js/jquery.nice-select.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="../assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="../assets/js/main.js"></script>

</body>

</html>
